<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Lokad Shared Libraries</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="Download Lokad Shared Libraries"/>
</head>
<body>
<h1>Lokad Shared Libraries</h1>
<p><em>Development build ${Version}</em></p>
<h2>Downloads</h2>
<ul>
	<li><a href="${Version}/${StackPackage}">Download merged binaries</a> (DLL, PDB, XML). <strong>Featured!</strong></li>
	<li><a href="${Version}/${LibraryPackage}">Download binaries</a> (DLL, PDB, XML).</li>
	<li><a href="${Version}/${SourcePackage}">Download sources</a> (C#, VS2008 solution).</li>
</ul>
<h2>Links</h2>
<ul>
	<li><a href="http://code.google.com/p/lokad-shared-libraries/">Project page on <em>Google Code</em></a></li>
	<li><a href="http://www.lokad.com">Lokad.com</a></li>
</ul>
<p>&copy;2009 Lokad. All rights reserved</p>
</body>
</html>


